<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 外部属性配置文件 -->
    <properties resource="jdbc.properties" />
    <!-- 全局配置参数 -->
    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"/>
            <!-- DBCP数据源 -->
            <dataSource type="com.xiong.Kakou.util.DBCPDataSourceFactory">
                <property name="driverClassName" value="${jdbc.driver}"/><!-- 注意，自定义数据源DBCP这里是driverClassName -->
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
                <property name="minIdle" value="5"/>
                <property name="maxIdle" value="10"/><!-- maxIdle，最大空闲数 -->
                <property name="maxActive" value="10"/>
                <property name="validationQuery" value="SELECT 1"/>
            </dataSource>
        </environment>

        <environment id="postgis">
            <!--使用原生JDBC事务  -->
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${postgres.driver}"/>
                <property name="url" value="${postgres.url}"/>
                <property name="username" value="${postgres.username}"/>
                <property name="password" value="${postgres.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/KakouPointModelMapper.xml" />
        <mapper resource="mapper/KakouCarModelMapper.xml" />
        <mapper resource="mapper/LinkModelMapper.xml" />
        <mapper resource="mapper/ChainModelMapper.xml" />
        <mapper resource="mapper/PostgresEmmeMapper.xml" />
    </mappers>
</configuration>
