<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiong.Kakou.dao.KakouCarModelMapper">

    <select id="selectHaopai" resultType="String">
      select hphm from chepai0709
    </select>

    <select id="selectByHphm" parameterType="String" resultType="com.xiong.Kakou.entity.KakouCarModel">

      SELECT DISTINCT * from sanhuan0709 where hphm = #{hphm}  ORDER BY gcsj;
    </select>

    <select id="mapvdtonode"  resultType="com.xiong.Kakou.entity.VDToNodeModel" >
        SELECT FID, ID_station as vd , to_node as node,xqbh from vdtonode
    </select>


</mapper>