<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiong.Kakou.dao.KakouPointModelMapper">
  <resultMap id="BaseResultMap" type="com.xiong.Kakou.entity.KakouPointModel">
    <id column="FID" jdbcType="INTEGER" property="FID" />
    <result column="ID_Traffic" jdbcType="VARCHAR" property="ID_Traffic" />
    <result column="ID_Old" jdbcType="VARCHAR" property="ID_Old" />
    <result column="ID_Link" jdbcType="VARCHAR" property="ID_Link" />
    <result column="ID_Lane" jdbcType="VARCHAR" property="ID_Lane" />
    <result column="ID_Station" jdbcType="VARCHAR" property="ID_Station" />
    <result column="PositionCo" jdbcType="VARCHAR" property="positionCo" />
    <result column="Longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="Latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="Area" jdbcType="VARCHAR" property="area" />
    <result column="Note" jdbcType="VARCHAR" property="note" />
    <result column="SourceName" jdbcType="VARCHAR" property="sourceName" />
    <result column="SourceType" jdbcType="VARCHAR" property="sourceType" />
    <result column="StationLoc" jdbcType="VARCHAR" property="stationLoc" />
    <result column="LinkLocati" jdbcType="VARCHAR" property="linkLocati" />
    <result column="Status" jdbcType="VARCHAR" property="status" />
    <result column="NodeParent" jdbcType="VARCHAR" property="nodeParent" />
    <result column="NodeLevel" jdbcType="VARCHAR" property="nodeLevel" />
    <result column="LaneType" jdbcType="VARCHAR" property="laneType" />
    <result column="LinkName" jdbcType="VARCHAR" property="linkName" />
    <result column="Count" jdbcType="VARCHAR" property="count" />
    <result column="Rate" jdbcType="VARCHAR" property="rate" />
  </resultMap>
  <sql id="Base_Column_List">
    FID, ID_Traffic, ID_Old, ID_Link, ID_Lane, ID_Station, PositionCo, Longitude, Latitude, 
    Area, Note, SourceName, SourceType, StationLoc, LinkLocati, Status, NodeParent, NodeLevel, 
    LaneType, LinkName, Count, Rate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_kakoucore
    where FID = #{FID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_kakoucore
    where FID = #{FID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiong.Kakou.entity.KakouPointModel">
    insert into t_kakoucore (FID, ID_Traffic, ID_Old, 
      ID_Link, ID_Lane, ID_Station, 
      PositionCo, Longitude, Latitude, 
      Area, Note, SourceName, 
      SourceType, StationLoc, LinkLocati, 
      Status, NodeParent, NodeLevel, 
      LaneType, LinkName, Count, 
      Rate)
    values (#{FID,jdbcType=INTEGER}, #{ID_Traffic,jdbcType=VARCHAR}, #{ID_Old,jdbcType=VARCHAR}, 
      #{ID_Link,jdbcType=VARCHAR}, #{ID_Lane,jdbcType=VARCHAR}, #{ID_Station,jdbcType=VARCHAR}, 
      #{positionCo,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{sourceName,jdbcType=VARCHAR}, 
      #{sourceType,jdbcType=VARCHAR}, #{stationLoc,jdbcType=VARCHAR}, #{linkLocati,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{nodeParent,jdbcType=VARCHAR}, #{nodeLevel,jdbcType=VARCHAR}, 
      #{laneType,jdbcType=VARCHAR}, #{linkName,jdbcType=VARCHAR}, #{count,jdbcType=VARCHAR}, 
      #{rate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiong.Kakou.entity.KakouPointModel">
    insert into t_kakoucore
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="FID != null">
        FID,
      </if>
      <if test="ID_Traffic != null">
        ID_Traffic,
      </if>
      <if test="ID_Old != null">
        ID_Old,
      </if>
      <if test="ID_Link != null">
        ID_Link,
      </if>
      <if test="ID_Lane != null">
        ID_Lane,
      </if>
      <if test="ID_Station != null">
        ID_Station,
      </if>
      <if test="positionCo != null">
        PositionCo,
      </if>
      <if test="longitude != null">
        Longitude,
      </if>
      <if test="latitude != null">
        Latitude,
      </if>
      <if test="area != null">
        Area,
      </if>
      <if test="note != null">
        Note,
      </if>
      <if test="sourceName != null">
        SourceName,
      </if>
      <if test="sourceType != null">
        SourceType,
      </if>
      <if test="stationLoc != null">
        StationLoc,
      </if>
      <if test="linkLocati != null">
        LinkLocati,
      </if>
      <if test="status != null">
        Status,
      </if>
      <if test="nodeParent != null">
        NodeParent,
      </if>
      <if test="nodeLevel != null">
        NodeLevel,
      </if>
      <if test="laneType != null">
        LaneType,
      </if>
      <if test="linkName != null">
        LinkName,
      </if>
      <if test="count != null">
        Count,
      </if>
      <if test="rate != null">
        Rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="FID != null">
        #{FID,jdbcType=INTEGER},
      </if>
      <if test="ID_Traffic != null">
        #{ID_Traffic,jdbcType=VARCHAR},
      </if>
      <if test="ID_Old != null">
        #{ID_Old,jdbcType=VARCHAR},
      </if>
      <if test="ID_Link != null">
        #{ID_Link,jdbcType=VARCHAR},
      </if>
      <if test="ID_Lane != null">
        #{ID_Lane,jdbcType=VARCHAR},
      </if>
      <if test="ID_Station != null">
        #{ID_Station,jdbcType=VARCHAR},
      </if>
      <if test="positionCo != null">
        #{positionCo,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="sourceName != null">
        #{sourceName,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="stationLoc != null">
        #{stationLoc,jdbcType=VARCHAR},
      </if>
      <if test="linkLocati != null">
        #{linkLocati,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="nodeParent != null">
        #{nodeParent,jdbcType=VARCHAR},
      </if>
      <if test="nodeLevel != null">
        #{nodeLevel,jdbcType=VARCHAR},
      </if>
      <if test="laneType != null">
        #{laneType,jdbcType=VARCHAR},
      </if>
      <if test="linkName != null">
        #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiong.Kakou.entity.KakouPointModel">
    update t_kakoucore
    <set>
      <if test="ID_Traffic != null">
        ID_Traffic = #{ID_Traffic,jdbcType=VARCHAR},
      </if>
      <if test="ID_Old != null">
        ID_Old = #{ID_Old,jdbcType=VARCHAR},
      </if>
      <if test="ID_Link != null">
        ID_Link = #{ID_Link,jdbcType=VARCHAR},
      </if>
      <if test="ID_Lane != null">
        ID_Lane = #{ID_Lane,jdbcType=VARCHAR},
      </if>
      <if test="ID_Station != null">
        ID_Station = #{ID_Station,jdbcType=VARCHAR},
      </if>
      <if test="positionCo != null">
        PositionCo = #{positionCo,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        Longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        Latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        Area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        Note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="sourceName != null">
        SourceName = #{sourceName,jdbcType=VARCHAR},
      </if>
      <if test="sourceType != null">
        SourceType = #{sourceType,jdbcType=VARCHAR},
      </if>
      <if test="stationLoc != null">
        StationLoc = #{stationLoc,jdbcType=VARCHAR},
      </if>
      <if test="linkLocati != null">
        LinkLocati = #{linkLocati,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        Status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="nodeParent != null">
        NodeParent = #{nodeParent,jdbcType=VARCHAR},
      </if>
      <if test="nodeLevel != null">
        NodeLevel = #{nodeLevel,jdbcType=VARCHAR},
      </if>
      <if test="laneType != null">
        LaneType = #{laneType,jdbcType=VARCHAR},
      </if>
      <if test="linkName != null">
        LinkName = #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        Count = #{count,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        Rate = #{rate,jdbcType=VARCHAR},
      </if>
    </set>
    where FID = #{FID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiong.Kakou.entity.KakouPointModel">
    update t_kakoucore
    set ID_Traffic = #{ID_Traffic,jdbcType=VARCHAR},
      ID_Old = #{ID_Old,jdbcType=VARCHAR},
      ID_Link = #{ID_Link,jdbcType=VARCHAR},
      ID_Lane = #{ID_Lane,jdbcType=VARCHAR},
      ID_Station = #{ID_Station,jdbcType=VARCHAR},
      PositionCo = #{positionCo,jdbcType=VARCHAR},
      Longitude = #{longitude,jdbcType=VARCHAR},
      Latitude = #{latitude,jdbcType=VARCHAR},
      Area = #{area,jdbcType=VARCHAR},
      Note = #{note,jdbcType=VARCHAR},
      SourceName = #{sourceName,jdbcType=VARCHAR},
      SourceType = #{sourceType,jdbcType=VARCHAR},
      StationLoc = #{stationLoc,jdbcType=VARCHAR},
      LinkLocati = #{linkLocati,jdbcType=VARCHAR},
      Status = #{status,jdbcType=VARCHAR},
      NodeParent = #{nodeParent,jdbcType=VARCHAR},
      NodeLevel = #{nodeLevel,jdbcType=VARCHAR},
      LaneType = #{laneType,jdbcType=VARCHAR},
      LinkName = #{linkName,jdbcType=VARCHAR},
      Count = #{count,jdbcType=VARCHAR},
      Rate = #{rate,jdbcType=VARCHAR}
    where FID = #{FID,jdbcType=INTEGER}
  </update>
</mapper>