<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiong.Kakou.dao.KakouPointModelMapper">

    <select id="selectByIDLink" parameterType="String" resultType="com.xiong.Kakou.entity.KakouPointModel">
        SELECT DISTINCT ID_Station,ID_Link
        from t_kakoucore
        where ID_Link = #{ID_Link};
    </select>

    <select id="selectAllStation" resultType="com.xiong.Kakou.entity.KakouPointModel">
        SELECT DISTINCT ID_Station,ID_Link
        from t_kakoucore GROUP by ID_Station
    </select>


</mapper>